.hello {
   color: black;
   background-color: blueviolet;
   font-family: 'Comfortaa', cursive;
   font-family: 'Great Vibes', cursive;
   font-family: 'Khand', sans-serif;
   font-family: 'Manrope', sans-serif;
   font-family: 'Mea Culpa', cursive;
}